In [3]:
import pandas as pd

In [1]:
ROOT = "../"
DATA  = ROOT + "datasets/"
MODELS = ROOT + "models/"

In [8]:
alarm = pd.read_csv(DATA + "alarm/train.csv")
alarm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LVFAILURE     8000 non-null   int64
 1   HISTORY       8000 non-null   int64
 2   LVEDVOLUME    8000 non-null   int64
 3   CVP           8000 non-null   int64
 4   PCWP          8000 non-null   int64
 5   HYPOVOLEMIA   8000 non-null   int64
 6   STROKEVOLUME  8000 non-null   int64
 7   ERRLOWOUTPUT  8000 non-null   int64
 8   HRBP          8000 non-null   int64
 9   HR            8000 non-null   int64
 10  ERRCAUTER     8000 non-null   int64
 11  HREKG         8000 non-null   int64
 12  HRSAT         8000 non-null   int64
 13  ANAPHYLAXIS   8000 non-null   int64
 14  TPR           8000 non-null   int64
 15  ARTCO2        8000 non-null   int64
 16  EXPCO2        8000 non-null   int64
 17  VENTLUNG      8000 non-null   int64
 18  INTUBATION    8000 non-null   int64
 19  MINVOL        8000 non-null   int64
 20  FIO2          8000 non-null   int64
 21  PVSAT         8000 non-null   int64
 22  VENTALV       8000 non-null   int64
 23  SAO2          8000 non-null   int64
 24  SHUNT         8000 non-null   int64
 25  PULMEMBOLUS   8000 non-null   int64
 26  PAP           8000 non-null   int64
 27  PRESS         8000 non-null   int64
 28  KINKEDTUBE    8000 non-null   int64
 29  VENTTUBE      8000 non-null   int64
 30  MINVOLSET     8000 non-null   int64
 31  VENTMACH      8000 non-null   int64
 32  DISCONNECT    8000 non-null   int64
 33  CATECHOL      8000 non-null   int64
 34  INSUFFANESTH  8000 non-null   int64
 35  CO            8000 non-null   int64
 36  BP            8000 non-null   int64
dtypes: int64(37)
memory usage: 2.3 MB

In [9]:
andes = pd.read_csv(DATA + "andes/train.csv")
andes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Columns: 223 entries, DISPLACEM0 to SNode_19
dtypes: int64(223)
memory usage: 13.6 MB

In [10]:
asia = pd.read_csv(DATA + "asia/train.csv")
asia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   asia    8000 non-null   int64
 1   tub     8000 non-null   int64
 2   smoke   8000 non-null   int64
 3   lung    8000 non-null   int64
 4   bronc   8000 non-null   int64
 5   either  8000 non-null   int64
 6   xray    8000 non-null   int64
 7   dysp    8000 non-null   int64
dtypes: int64(8)
memory usage: 500.1 KB

In [11]:
sachs = pd.read_csv(DATA + "sachs/train.csv")
sachs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Erk     8000 non-null   int64
 1   Akt     8000 non-null   int64
 2   PKA     8000 non-null   int64
 3   Mek     8000 non-null   int64
 4   Jnk     8000 non-null   int64
 5   PKC     8000 non-null   int64
 6   Raf     8000 non-null   int64
 7   P38     8000 non-null   int64
 8   PIP3    8000 non-null   int64
 9   PIP2    8000 non-null   int64
 10  Plcg    8000 non-null   int64
dtypes: int64(11)
memory usage: 687.6 KB

In [12]:
sprinkler = pd.read_csv(DATA + "sprinkler/train.csv")
sprinkler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cloudy     800 non-null    int64
 1   Sprinkler  800 non-null    int64
 2   Rain       800 non-null    int64
 3   Wet_Grass  800 non-null    int64
dtypes: int64(4)
memory usage: 25.1 KB

In [13]:
water = pd.read_csv(DATA + "water/train.csv")
water.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   C_NI_12_00   8000 non-null   int64
 1   C_NI_12_15   8000 non-null   int64
 2   CKNI_12_00   8000 non-null   int64
 3   CKNI_12_15   8000 non-null   int64
 4   CBODD_12_15  8000 non-null   int64
 5   CBODD_12_00  8000 non-null   int64
 6   CNOD_12_00   8000 non-null   int64
 7   CBODN_12_00  8000 non-null   int64
 8   CKND_12_15   8000 non-null   int64
 9   CKND_12_00   8000 non-null   int64
 10  CKNN_12_00   8000 non-null   int64
 11  CNOD_12_15   8000 non-null   int64
 12  CNON_12_00   8000 non-null   int64
 13  CBODN_12_15  8000 non-null   int64
 14  CKNN_12_15   8000 non-null   int64
 15  CNON_12_15   8000 non-null   int64
 16  C_NI_12_30   8000 non-null   int64
 17  CKNI_12_30   8000 non-null   int64
 18  CBODD_12_30  8000 non-null   int64
 19  CKND_12_30   8000 non-null   int64
 20  CNOD_12_30   8000 non-null   int64
 21  CBODN_12_30  8000 non-null   int64
 22  CKNN_12_30   8000 non-null   int64
 23  CNON_12_30   8000 non-null   int64
 24  C_NI_12_45   8000 non-null   int64
 25  CKNI_12_45   8000 non-null   int64
 26  CBODD_12_45  8000 non-null   int64
 27  CKND_12_45   8000 non-null   int64
 28  CNOD_12_45   8000 non-null   int64
 29  CBODN_12_45  8000 non-null   int64
 30  CKNN_12_45   8000 non-null   int64
 31  CNON_12_45   8000 non-null   int64
dtypes: int64(32)
memory usage: 2.0 MB