In [1]:
import pandas as pd

In [2]:
ROOT = "../"
DATA  = ROOT + "datasets/"
MODELS = ROOT + "models/"

In [18]:
name = "alarm"
dataset = pd.read_csv(DATA + name + "/test_missing.csv")
print(f"Missin values : {dataset.isna().sum().sum()}")
print(f"Miss percentage:{dataset.isna().sum().sum() / dataset.size * 100:.2f}\n")
dataset.info()

Missin values : 2001
Miss percentage:2.70

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 37 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LVFAILURE     1953 non-null   float64
 1   HISTORY       1955 non-null   float64
 2   LVEDVOLUME    1953 non-null   float64
 3   CVP           1935 non-null   float64
 4   PCWP          1958 non-null   float64
 5   HYPOVOLEMIA   1928 non-null   float64
 6   STROKEVOLUME  1946 non-null   float64
 7   ERRLOWOUTPUT  1946 non-null   float64
 8   HRBP          1938 non-null   float64
 9   HR            1938 non-null   float64
 10  ERRCAUTER     1953 non-null   float64
 11  HREKG         1944 non-null   float64
 12  HRSAT         1944 non-null   float64
 13  ANAPHYLAXIS   1952 non-null   float64
 14  TPR           1945 non-null   float64
 15  ARTCO2        1936 non-null   float64
 16  EXPCO2        1943 non-null   float64
 17  VENTLUNG      1960 non-null   float64
 18  INTUBATION    1946 non-null   float64
 19  MINVOL        1948 non-null   float64
 20  FIO2          1948 non-null   float64
 21  PVSAT         1959 non-null   float64
 22  VENTALV       1934 non-null   float64
 23  SAO2          1953 non-null   float64
 24  SHUNT         1944 non-null   float64
 25  PULMEMBOLUS   1941 non-null   float64
 26  PAP           1954 non-null   float64
 27  PRESS         1944 non-null   float64
 28  KINKEDTUBE    1945 non-null   float64
 29  VENTTUBE      1941 non-null   float64
 30  MINVOLSET     1943 non-null   float64
 31  VENTMACH      1947 non-null   float64
 32  DISCONNECT    1941 non-null   float64
 33  CATECHOL      1953 non-null   float64
 34  INSUFFANESTH  1934 non-null   float64
 35  CO            1940 non-null   float64
 36  BP            1957 non-null   float64
dtypes: float64(37)
memory usage: 578.2 KB

In [17]:
name = "andes"
dataset = pd.read_csv(DATA + name + "/test_missing.csv")
print(f"Missin values : {dataset.isna().sum().sum()}")
print(f"Miss percentage:{dataset.isna().sum().sum() / dataset.size * 100:.2f}\n")
dataset.info()

Missin values : 1975
Miss percentage:0.44

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Columns: 223 entries, DISPLACEM0 to SNode_19
dtypes: float64(223)
memory usage: 3.4 MB

In [15]:
name = "asia"
dataset = pd.read_csv(DATA + name + "/test_missing.csv")
print(f"Missin values : {dataset.isna().sum().sum()}")
print(f"Miss percentage:{dataset.isna().sum().sum() / dataset.size * 100:.2f}\n")
dataset.info()

Missin values : 2074
Miss percentage:12.96

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   asia    1728 non-null   float64
 1   tub     1763 non-null   float64
 2   smoke   1736 non-null   float64
 3   lung    1738 non-null   float64
 4   bronc   1735 non-null   float64
 5   either  1740 non-null   float64
 6   xray    1740 non-null   float64
 7   dysp    1746 non-null   float64
dtypes: float64(8)
memory usage: 125.1 KB

In [14]:
name = "sachs"
dataset = pd.read_csv(DATA + name + "/test_missing.csv")
print(f"Missin values : {dataset.isna().sum().sum()}")
print(f"Miss percentage:{dataset.isna().sum().sum() / dataset.size * 100:.2f}\n")
dataset.info()

Missin values : 1970
Miss percentage:8.95

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Erk     1816 non-null   float64
 1   Akt     1807 non-null   float64
 2   PKA     1819 non-null   float64
 3   Mek     1818 non-null   float64
 4   Jnk     1812 non-null   float64
 5   PKC     1833 non-null   float64
 6   Raf     1823 non-null   float64
 7   P38     1843 non-null   float64
 8   PIP3    1824 non-null   float64
 9   PIP2    1814 non-null   float64
 10  Plcg    1821 non-null   float64
dtypes: float64(11)
memory usage: 172.0 KB

In [16]:
name = "sprinkler"
dataset = pd.read_csv(DATA + name + "/test_missing.csv")
print(f"Missin values : {dataset.isna().sum().sum()}")
print(f"Miss percentage:{dataset.isna().sum().sum() / dataset.size * 100:.2f}\n")
dataset.info()

Missin values : 206
Miss percentage:25.75

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cloudy     147 non-null    float64
 1   Sprinkler  151 non-null    float64
 2   Rain       143 non-null    float64
 3   Wet_Grass  153 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [13]:
name = "water"
dataset = pd.read_csv(DATA + name + "/test_missing.csv")
print(f"Missin values : {dataset.isna().sum().sum()}")
print(f"Miss percentage:{dataset.isna().sum().sum() / dataset.size * 100:.2f}\n")
dataset.info()

Missin values : 2037
Miss percentage:3.18

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   C_NI_12_00   1935 non-null   float64
 1   C_NI_12_15   1935 non-null   float64
 2   CKNI_12_00   1931 non-null   float64
 3   CKNI_12_15   1936 non-null   float64
 4   CBODD_12_15  1946 non-null   float64
 5   CBODD_12_00  1941 non-null   float64
 6   CNOD_12_00   1938 non-null   float64
 7   CBODN_12_00  1944 non-null   float64
 8   CKND_12_15   1936 non-null   float64
 9   CKND_12_00   1934 non-null   float64
 10  CKNN_12_00   1940 non-null   float64
 11  CNOD_12_15   1943 non-null   float64
 12  CNON_12_00   1936 non-null   float64
 13  CBODN_12_15  1939 non-null   float64
 14  CKNN_12_15   1929 non-null   float64
 15  CNON_12_15   1939 non-null   float64
 16  C_NI_12_30   1927 non-null   float64
 17  CKNI_12_30   1929 non-null   float64
 18  CBODD_12_30  1942 non-null   float64
 19  CKND_12_30   1943 non-null   float64
 20  CNOD_12_30   1924 non-null   float64
 21  CBODN_12_30  1925 non-null   float64
 22  CKNN_12_30   1939 non-null   float64
 23  CNON_12_30   1926 non-null   float64
 24  C_NI_12_45   1943 non-null   float64
 25  CKNI_12_45   1933 non-null   float64
 26  CBODD_12_45  1941 non-null   float64
 27  CKND_12_45   1932 non-null   float64
 28  CNOD_12_45   1937 non-null   float64
 29  CBODN_12_45  1948 non-null   float64
 30  CKNN_12_45   1944 non-null   float64
 31  CNON_12_45   1928 non-null   float64
dtypes: float64(32)
memory usage: 500.1 KB